Checks: >
  *,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -bugprone-easily-swappable-parameters,
  -llvm-header-guard,
  -modernize-macro-to-enum,
  -cppcoreguidelines-macro-to-enum,
  -llvm-include-order,
  -bugprone-branch-clone,
  -altera-unroll-loops,
  -readability-function-cognitive-complexity,
  -clang-diagnostic-error,
  -cppcoreguidelines-init-variables,
  -llvmlibc-restrict-system-libc-headers,
  -bugprone-implicit-widening-of-multiplication-result,
  -altera-struct-pack-align,
  -cert-int09-c,
  -readability-enum-initial-value,
  -google-readability-todo,
  -bugprone-macro-parentheses,
  -portability-avoid-pragma-once,
  -bugprone-reserved-identifier,
  -readability-use-concise-preprocessor-directives,
  -readability-identifier-length,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -hicpp-signed-bitwise

HeaderFilterRegex: ".*/(src|modules|include)/.*"

WarningsAsErrors: ""

FormatStyle: file
